body{font-size: 14px;color: #6f2d87;}

.youtube-video-wrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.youtube-video-wrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* The container */
.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* Hide the browser's default checkbox */
.container input[type = "checkbox"] {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input[type = "checkbox"] ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input[type = "checkbox"]:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input[type = "checkbox"]:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 10px;
	top: 7px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.navbar-brand {padding: 5px 5px;}
.navbar-nav > li > a {margin-top: 15px;}
.navbar .navbar-collapse.in{background:#f7a823}
 ul .2cl{columns: 2;-webkit-columns: 2;-moz-columns: 2;}
@media (max-width: 767px) {
	.img-circle.dropd{margin-top: -18px;}
	ul .2cl{columns: 1;-webkit-columns: 1;-moz-columns: 1;}	
}

@media (max-width: 479px) {
.col-lg-12.col-md-12.col-sm-12.col-xs-12 {padding-right: 0px;padding-left: 0px;}
}
@media (max-width: 479px) {
.hidden-xs{display:none;}
}
.ml-menu .badge {color:#fff!important;}
.form-group .form-control {
    width: 100%;
    /*border: none;*/
    box-shadow: none;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    padding:6px 12px; 
	margin-bottom: 15px;
	border: 1px solid #ebebeb;
	}
.btn {margin-bottom:10px;}
.14px {font-size:14px;}
.btn-xs:not(.btn-link):not(.btn-circle) i {font-size: 14px!important;}
.btn.btn-xs:not(.btn-link):not(.btn-circle) i {top: 2px;}
.btn.btn-xs:not(.btn-link):not(.btn-circle) span {top: 0px;}
.btn.btn-xs {padding: 5px!important;}
.list-group-item.subcat{border:none;padding:5px;}
.form-control.select2-container{margin-bottom:10px;}
section.content{margin:90px 15px 0 315px;}
.spinner-layer.pl-red {border-color: #4D1ACF;}

.dataTables_wrapper .dataTables_filter > label input, .form-group .form-control {background-color: #eaeaea; /*background-color: #f7a823;height: 37px;*/}
.dataTables_wrapper .dataTables_filter > label input {width: 235px;}
.page-body .select2-container .select2-choice {border-color: #f7a823 !important;background: #f7a823;}
.page-body .select2-drop{background-color: #673ab7;}
.page-body .select2-drop .select2-results .select2-result-selectable {color: #fff;}
.page-body .select2-drop .select2-results .select2-result-selectable.select2-highlighted {background: #f7a823;}
.select2-container .select2-choice .select2-arrow{border-radius:4px}
.page-body .select2-container.select2-dropdown-open .select2-choice .select2-arrow {background-color: rgb(103, 58, 183);}
.page-body .select2-container .select2-choice .select2-arrow {border: #f7a823;background-color: rgb(103, 58, 183);}
.page-body .select2-container .select2-choice .select2-arrow b::before {color:#fff;}
.login-page {background-color: #f7a823;}
.login-page .login-box a {color:#673AB7}
.toast-message {text-align:center;}
.mtop10{margin-top:10px;}
.pr5{padding-right:5px}
.pl5{padding-left:5px}
.greyish{background: #f5f5f6;border-radius: 5px;}
.form-control.desc{height:auto}
.btn.btn-blue.btn-xs.toolbar{margin-bottom: 0px;padding:5px!important;}
.btn.btn-blue.btn-xs.toolbar i {font-size: 20px!important;}
textarea#sample_wysiwyg1 { width: 100% }
.bootstrap-tagsinput .tag{font-size:13px;}
.label-info {background-color: #6f2d87;}
.bootstrap-tagsinput {background-color: #f7a823;}
.dd-item, .dd-empty, .dd-placeholder {line-height:25px;}
.dd-handle.dragnow {background-color: #FF9800 !important;color: #673AB7;}
input.upload{background:#333}
.btn.btn-blue.btn-xs.toolbar.dropdown-toggle{padding:8px!important}
.material-icons.md-10 { font-size: 10px; }
ul.wysihtml5-toolbar a.btn.wysihtml5-command-active{background-color: #f7a823;}
.instuctr .selectboxit.form-control.selectboxit.visible.selectboxit-enabled.selectboxit-btn{background-color: #673ab7;height: 36px;padding:2px 12px;}
.instuctr .page-body .selectboxit-container .selectboxit-options{background-color: #f7a823!important;}
.instuctr .selectboxit-text{color:#fff!important;}

/*************************** NEW ******************************/
body[data-layout="detached"] .wrapper {padding-top: 70px;}
.topnav-navbar{position: fixed;top: 0;left: 0;z-index: 999;width: 100%;-webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);-moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);-ms-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);box-shadow: 0 1px 5px rgba(0, 0, 0, 0.3);}
.topnav-navbar-dark{background-color: #6f2d87;}
.topnav-navbar-dark .nav-user {background-color: #6f2d87;border: 1px solid #6f2d87;}
@media (min-width: 992px) {
	body[data-layout="detached"] .container-fluid {max-width: 100%; } 
	body[data-layout="detached"] .container-fluid {margin-left:-15px;}
}
.leftbar-user {background: url(../images/waves.jpg) no-repeat;}
.left-side-menu-detached {min-width: 250px;max-width: 300px;}
.leftbar-user {text-align:left!important;}
.leftbar-user .leftbar-user-name{color:#fff;margin-left: 0px;}
.side-nav .side-nav-title{background-color: #f7a823 !important;}
.topnav-navbar .topnav-logo {margin-left:15px;}
.fontwhite{color:#fff;margin-top: 7px;}
/*.card.breadcrumb{margin-bottom: 25px;margin-top: 25px;background: #f7a823;}
.breadcrumb{padding: 0;margin: 1rem 0;list-style: none;background-color: #f7a823;}
.breadcrumb .card-body{padding: 0rem 1rem;}*/
.side-nav .side-nav-title {background: #fff !important;color: #6f2d87;font-weight: bold;font-size: 14px;}
.side-nav .side-nav-title i{font-size:16px;}
.left-side-menu{background: #6f2d87;}
.side-nav .side-nav-link:hover{background: #f7a823;color:#333;}
/*.mdi-set.mr-2, .mdi.mr-2::before{font-size:24px;}*/
.side-nav-item .side-nav-link .mdi::before{font-size:24px!important;}
.metismenu li {margin-bottom: 5px;}
.24px::before{font-size:24px;}
.purple{background: #6f2d87;padding:10px;color:#fff;}
.yellow{background: #f7a823;color:#333;padding:10px;}
.card .header-title{font-size: 18px;}
.btn-group-xs > .btn, .btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}
.btn-xs .mdi-set, .btn-xs .mdi::before {font-size: 16px;}

.bottom45icon{position: absolute;bottom: -35px;left: 5px;font-size: 100px;opacity: .4;}
.widget-title{font-size: 16px;font-weight: 800;text-align: center;text-transform: uppercase;margin-top: -10px;}

.bg-yellow {background-color: #f7a823 !important;}
.bg-purple {background-color: #6f2d87 !important;}
.btn.bg-yellow:hover, .btn.bg-purple:hover {color: #fff!important;background-color: #333!important;border-color: #333!important;}
.btn.bg-purple {color:#fff!important}
.btn.bg-yellow {color:#333!important}
.custom-select.custom-select-sm.form-control.form-control-sm{background-color: #6f2d87;color: #fff;border: 1px solid #6f2d87;}
..custom-select{background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23fff' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;}
.modal-footer{background-color: #6f2d87 !important;border-top: 1px solid #6f2d87;}
.modal-header{background-color: #6f2d87 !important;color:#fff!important;}
.note-toolbar.card-header .note-btn.btn.btn-light.btn-sm{background-color: #6f2d87 !important; color:#fff!important;}
.note-toolbar.card-header {background-color: #eaeaea !important;;/*background-color: #f7a823 !important;*/}
.note-icon-font.note-recent-color {color:#333!important}
.btn-primary:hover {color: #333;background-color: #f7a823;border-color: #f7a823;}
.pagination-rounded .page-link {border-radius: 3px !important;background-color: #333;}
table.dataTable tbody td.focus, table.dataTable tbody th.focus {outline: 0px solid #6f2d87 !important;background-color: rgba(247, 168, 35, 0.25);}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before{background-color:#6f2d87!important}
.note-editor.note-frame {width:100%}
.bootstrap-tagsinput .tag {background-color: rgb(16, 187, 236);}
.nav-justified.form-wizard-header .nav-item{border-radius: 3px;border: 1px solid #6f2d87;}
.nav.nav-pills.nav-justified.form-wizard-header.mb-3{background-color: #fff;}
.jq-toast-wrap.bottom-left{width:90%;}
.breadcrumb-item + .breadcrumb-item::before {color:#fff!important;}
.table .thead-purple th {color: #fff;background-color: #6f2d87;border-bottom:4px solid #f7a823;border-top: 0px;}
.button-menu-mobile span:nth-of-type(2) {width: 100%;}
.modal-content {border: 1px solid #f7a823;border-radius: 3px;}
.bg-blue{background-color: #078edf !important;}
.bg-pink{background-color: #fd397a !important;}

.bottomfaicon {position: absolute;bottom:5px;left: 10px;opacity: .4;}
.side-nav .menu-arrow::before {content: "\F416";}
.side-nav .menu-arrow{right: 20px;}
.side-nav .badge {margin-top: 2px;color:#fff!important;}
.side-nav-second-level li a, .side-nav-third-level li a {padding: 8px 14px 8px 50px;color: #f7a823 !important;}
.side-nav .side-nav-link, .side-nav .side-nav-title{padding:10px 15px}
.mdi-14px{font-size: 14px;}
.mdi-20px{font-size: 20px;}
.dropdown-item.notify-item.active, .dropdown-item.notify-item:active {text-decoration: none;background-color: #6f2d87;color: #fff;}
.dropdown-menu.topbar-dropdown-menu{background-color: #ffa103;}
.profile-dropdown {width: 190px;}
.logot{background-color:#ff0000!important; color:#fff!important;text-align:center;}
.logot:hover{background-color:#333!important;}
.btn-info {color: #fff!important;background-color: #03a9f4;border-color: #03a9f4;}
.iconpicker-popover.popover .popover-title, .iconpicker-popover.popover {background-color:#6f2d87!important;}
.iconpicker-popover.popover .popover-title input[type="search"].iconpicker-search{background-color:#fff!important;}
.iconpicker-popover.popover.bottom > .arrow::after, .iconpicker-popover.popover.bottomRight > .arrow::after, .iconpicker-popover.popover.bottomLeft > .arrow::after {border-bottom-color: #6f2d87!important;}
.iconpicker .iconpicker-items{background: #fda103!important;}
/*.card-header.note-toolbar {z-index:0!important;}*/
@media (max-width:767.98px){
body[data-layout="detached"].sidebar-enable .left-side-menu {top: 50px;}
.leftbar-user {padding: 30px 20px 10px 20px!important;}
}
table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > td:first-child::before, table.dataTable.dtr-inline.collapsed > tbody > tr[role="row"] > th:first-child::before {

    top: 12px;
    left: 4px;
    height: 0px;
    width: 0px;
    display: block;
    position: absolute;
    color: #6f2d87;
    border: 0px solid white;
    border-radius: 0px;
    box-shadow: none;
    box-sizing: content-box;
    text-align: center;
    text-indent: 0 !important;
    font-family: "Font Awesome 5 Free"!important;
    line-height: 24px;
    content: '\f0fe'!important;
    background-color: #0275d8;
	font-size:24px;
	margin-right:5px;
}
.btn-group-xs > .btn, .btn-xs2 {

    padding: .45rem .4rem;
    font-size: .875rem;
    line-height: .5;
    border-radius: .2rem;

}

.blink_me {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {  
  50% { opacity: 0; }
}

.roundedborderblue{border: 1px solid #03a9f4; border-radius: 3px;}
.roundedborderyellow{border: 1px solid #f7a823!important; border-radius: 3px!important;}
.modal {
  overflow-y:auto!important;
}
/*.form-wizard-header {margin-left: 0rem;margin-right: 0rem;}
.nav-tabs.nav-bordered {border-bottom: 5px solid rgba(152,166,173,.2);}*/
.nav-pills .nav-link.trans.active{background:transparent;}
.nav-tabs.nav-bordered li a.active {border-bottom: 5px solid #6f2d87;}
a.text-primary:focus, a.text-primary:hover {color: #333 !important;}
.box {height:210px!important; background-color: #f7a823!important;margin: 0px;}
.js--image-preview {height:150px!important;}
.logot2 a{color:#fff;font-size:36px;}
.logot2 a:hover{color:#f7a823;}
.leftbar-user{background:url(../../images/waves.jpg) no-repeat;padding:30px 20px;text-align:center}
.side-nav .side-nav-link {color: #fff !important;}
.side-nav .side-nav-link.active {background: #f7a823!important;color: #333!important;}
.text-purple {color: #6f2d87 !important;}
a:hover, .text-purple:hover{color: #333;}
.card-body {padding: 1.3rem 0.8rem;}
.table {color: #6f2d87;}
.btn-primary {color: #fff !important;background-color: #6f2d87;border-color: #6f2d87;}
.text-secondary {color: #343435 !important;}
.bg-danger {background-color: #e62b2b !important;}
.bg-success {background-color: #0abb87 !important;}
.bg-green{background-color: #0abb87 !important;}
/*.dtr-inline.collapsed .child{text-align:center;}
.child .dtr-title{display:none!important;}*/
.form-control::placeholder, .select2-container .select2-selection--single .select2-selection__rendered {color: #525252;}
.bootstrap-tagsinput input::placeholder{color: #525252 !important;}
.bootstrap-tagsinput input{color: #525252 !important;}
.breadcrumb-item.active a {color: #6f2d87 !important;;}
.breadcrumb-item {color: #6f2d87 !important;}
.btn-danger {color: #fff;background-color: #e62b2b;border-color: #e62b2b;}
.text-danger {color: #e62b2b!important;}
.toast {opacity: 1 !important;}
.mdi-30px {font-size:30px;}
.profile-dropdown .dropdown-item {color: #6f2d87;}
.leftbar-user.admin {padding: 5px 20px 10px 20px;}
.mdi-12px {font-size:12px;}
.side-nav-item .side-nav-link .mdi.mdi-av-timer::before {font-size: 13px !important;}
.text-body {color: #6f2d87 !important;}
.pt-0.mediatitle {font-weight: 600;font-size: 14px;}
.page-link{color:#fff!important;}
.side-nav .side-nav-link span, .profile-dropdown span {text-transform: capitalize;}
.form-group .form-control.suppcurr {background:transparent; border:0px solid #ebebeb;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance:textfield;}
.mdi.mdi-home.mr-1:after{content: "home";font-style: normal;margin-left: 5px;text-transform: capitalize;}
div.dataTables_wrapper div.dataTables_processing {background-color: #f7a823;margin-top: 30px;padding: 5px;}
.page-link {background-color: #333;border: 1px solid #333;}
.page-item.disabled .page-link {background-color: #333;border-color: #333;}
.page-link:hover {background-color: #f7a823;border-color: #f7a823;}
"columnDefs": [
    {"className": "dt-center", "targets": [3]}
];

