/* Additions */
a {color: #6f2d87;}
a:hover {color: #333;}
.navbar-brand{margin-right:.25rem!important;}
.main-nav-wrap > ul > li > a i {color: #f7a823!important;}


section.category-course-list-area {min-height:425px}

.preview-video-box a {color: #fff !important;}
section.course-header-area {background-color: #6f2d87!important;}
.course-header-area.duplicated {background-color: rgb(111,45,135,0.95)!important;}
.course-sidebar-text-box .buy-btns .btn-buy-now {background-color: #6f2d87!important;border-color: #6f2d87!important;}
.course-sidebar-text-box .buy-btns .btn-add-cart {background: #f7a823!important;border-color: #f7a823!important;color: #4d4d4d!important;}
.course-sidebar-text-box .buy-btns .btn-buy-now:hover, .course-sidebar-text-box .buy-btns .btn-add-cart:hover {background: #706f6f!important;border-color: #706f6f!important;color:#fff!important;}
section.category-header-area{background: url('../../../../uploads/system/courseback.jpg') no-repeat center center fixed;background-color: rgba(0, 0, 0, 0);-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;}

.filter-box .btn {border-color: #6f2d87!important;color: #6f2d87!important;}
.sign-in-modal form button[type="submit"] {background-color: #6f2d87!important;border-color: #6f2d87!important;}
.sign-in-modal form button[type="submit"]:hover {background-color: #706f6f!important;border-color: #706f6f!important;}
.filter-box .btn:hover,
.filter-box .btn:focus {background: #fff !important;color: #706f6f !important;border-color: #706f6f !important;}

.course-curriculum-accordion .lecture-group-title::before{color: #f7a823!important;}
.cart-sidebar .checkout-btn {background-color: #6f2d87!important;border-color: #6f2d87!important;}
.cart-sidebar .checkout-btn:hover,.cart-sidebar .checkout-btn:focus {background-color: #f7a823!important;border-color: #f7a823!important;}
.cart-sidebar .total-price, .cart-course-wrapper .price .current-price, .cart-course-wrapper .price .coupon-tag {color: #6f2d87!important;}
.course-list-dropdown .dropdown-footer a, .course-list-dropdown .dropdown-footer a {background:#6f2d87!important;}
.course-list-dropdown .dropdown-footer a:hover, .course-list-dropdown .dropdown-footer a:focus {background:#29303b!important;color:#f7a823 !important;}
.course-list-dropdown .item-list ul li:hover {background:#f7a823!important;}

.user-dropdown-menu li a:hover { color: #fff!important;background:#f7a823!important;}
.filter-box .btn {color: #fff!important;}
.select2-container--default .select2-results__option--highlighted[aria-selected] {background-color:#f7a823!important;color: #29303b!important;}
span.select2-selection.select2-selection--single[aria-expanded="true"] {border-color: #f7a823!important;}
.select2-container--default .select2-search--dropdown .select2-search__field:focus, .new-message-details .message-body textarea:focus, textarea:focus, .form-control:focus, input:focus {border-color: #6f2d87!important;}
.dd-handle:hover {color:#6f2d87!important;}
.course-list-dropdown .item-list .item .item-details button {color: #6f2d87!important;border: 1px solid #6f2d87!important;}
.my-courses-area .container {min-height: 350px;}
.course-list-dropdown .item-list .item .item-details .current-price {color:#6f2d87!important;}
.footer-top-widget-area.testimon{background-color: #6f2d87;}
/*.students{color:#fff!important;text-align:center;}*/
.instrctr{color:#29303b!important;text-align:center;}
.instructor{color:#6f2d87;}
/*.course-image {padding: 5px;background: #f7a823;}*/

.course-details.latest10{max-height: 105px!important;}
.preicon{margin-right:5px;content: url(../logoicon.png)}
.course-carousel-title.categories{font-size: 20px;color: #505763;margin: 0 0 10px;}
.home-fact-area.orange{margin-bottom:0px; background-color:#f7a823!important;color: #29303b; text-align:center;}
.orange .fa{font-size:35px; color:#6f2d87;}
.webui-popover .webui-popover-content{/*background-color: #f7a823;*/background-color: #ffffff;}
.footer-top-widget-area.testimon.orange{background-color: #f7a823;}
.course-badge.best-seller.icon {background: none;box-shadow:none;}

.course-popover-content .course-subtitle, .course-popover-content .course-title a {color:#29303b!important}
section.authornavbar {background-color: #f4c150!important;padding: 10px!important;}
.img-thumbnail.authorimg{padding:.08rem; background-color:#6f2d87;border: 1px solid #6f2d87;margin-right: 10px;height: 50px;width: 50px;}
.borderstr .img-thumbnail.authorimg{padding:.0rem; background-color:#6f2d87;border: 0px solid #6f2d87;margin-right: 10px;height: 50px;width: 50px;}
section.instructor-header-area {background-color: #6f2d87!important;}
/*.course-sidebar{top:-210px!important;}*/
.course-header-area.duplicated .title {font-size: 24px!important;margin-bottom: 5px!important;}
.course-header-area.duplicated .media-body.pb-3 {padding-bottom:0px!important;}
/*.course-sidebar{margin-top:-270px;}*/
/*.media-body .d-block, .media-body{text-align:center;}*/


/*.previewimg {width:100%; max-height:200px;}*/
.preview-video-box .play-btn	{background-color: rgb(111, 45, 135, 0.4);}
.preview-video-box .preview-text{z-index:3;}
.course-sidebar-text-box.side{/*border-radius: 10px;box-shadow: 0 0 16px #ccc;*/overflow: hidden;background-color: #fff;}
.what-you-get-box{/*box-shadow: 0 0 16px #ccc;*/padding: 15px 15px;}
.course-curriculum-accordion .lecture-group-title[aria-expanded="true"]::before, .course-curriculum-accordion .lecture-group-title[aria-expanded="false"]::before {content: url(../bulleticon.png)!important;}
.iconbuttonsuffix{content: url(../bulleticon.png)!important; margin-bottom: -6px;}
.course-curriculum-accordion .lecture-group-title {padding: 12px 30px 10px 50px!important;margin-top: 15px!important;/*box-shadow: 0 0 16px #ccc!important*/;border-left: 5px solid!important;border-top: 0px!important;border-bottom: 0px!important; background-color: #fff;}
.course-curriculum-accordion .lecture-list .lecture.has-preview {color: #6f2d87!important; border-left:5px solid #f7a823!important;border-bottom: 0px!important;}
.view-more, .view-less {color:#fff;}
.what-you-get-box.sidebar{/*margin-top:70px;*/border-radius: 4px;}
.course-sidebar-text-box .includes ul li {font-size: 15px!important;padding: 15px 0 !important;border-bottom: 1px solid #eee!important;}
.course-sidebar-text-box .includes ul li i {width: 25px;font-size: 18px;;color: #6f2d87!important;}
.course-curriculum-accordion .lecture-group-title {color: #6f2d87!important;}
.course-curriculum-accordion .lecture-list .lecture .lecture-title {color: #f7a823!important;}
section.course-header-area, section.instructor-header-area {padding: 30px 0!important;background-image: url('../../../../uploads/system/courseback.jpg');}
.course-header-area.duplicated{padding: 10px 0!important;}
/*.what-you-get-box.learn{background-color: #f7a823!important;border-radius: 4px;}*/
.learn .what-you-get-title{color: #fff !important;margin: 0 0 20px;background: #6f2d87;text-align: center;}
.what-you-get-box.learn ul{padding: 0px 10px!important;}
.what-you-get-box.learn ul li{margin-bottom: 15px!important;}
.includes .title{font-size: 22px;}
.view-more {padding:5px 3px 5px 3px!important;}
.ratingbox{background-color: #6f2d87!important;border: 1px solid #6f2d87;box-shadow: 0 0 16px #ccc;padding: 20px 15px;border-radius: 4px;}
.course-comparism-item .item-image .item-duration{bottom: 4px!important;background-color: hsl(37.6, 93%, 55.3%)!important;}
.promo{text-align:center;}
.sidebaricon{width:50px!important;height:50px!important; color:#fff!important;}
.bg-orange {background-color: #f7a823!important;}	
.bg-purple {background-color: #6f2d87!important;}
.txt-purple {color: #6f2d87!important;}
.course-curriculum-accordion .lecture-list .lecture.has-preview	{-webkit-box-shadow: 0 8px 6px -6px #f5daff;-moz-box-shadow: 0 8px 6px -6px #f5daff;box-shadow: 0 8px 6px -6px #f5daff;}
.student-feedback-box .individual-rating ul li .progress {width: 67%!important;}
.student-feedback-box .individual-rating li > div:not(.progress) span:not(.rating), .student-feedback-box .average-rating .num, .student-feedback-box .average-rating{color:#fff!important}
.already_purchased a {background-color: #6f2d87!important;}
.reqbullet{display: block;margin-top: -25px;margin-left: 30px;}
.what-you-get-box ul li::before {color:#6f2d87!important}
.student-feedback-box .individual-rating ul li .progress-bar {background-color: #f7a823!important;}

.stu-testimon, .feat-tutors{/*-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.4);-moz-box-shadow: 0 0 8px rgba(0,0,0,0.4);box-shadow: 0 0 8px rgba(0,0,0,0.4);*/}
.footer-top-widget-area.testimon	{padding: 15px 0 30px 0px;}
.home-fact-area.orange.become-ins{padding: 30px 0 30px 0px;}



.what-will-learn:ul{list-style-image: url(../bulleticon.png);}
.view-more {background: #cfcfcf !important;color:#333!important;border-radius: 3px;text-align: center;font-weight: 600;}
.view-less {background: #6f2d87 !important;border-radius: 3px;text-align: center;font-weight: 600;}
.compare-box .compare-title{margin: 0 0 30px !important;}
.course-preview-modal {background-color:#6f2d87 !important;}
.playb{margin-right:5px;color: #f7a823;}
.borderstr{border-bottom: 1px solid #fff;border-top: 1px solid #fff;padding-top: 5px;}
.sign-in-modal .modal-header {background-color: #f7a823 !important;}
section.page-header-area{background-color: #6f2d87 !important;background-image: url('../../../../uploads/system/courseback.jpg');}
.cart-sidebar{/*border-radius: 10px;box-shadow: 0 0 16px #ccc;*/padding: 15px;background-color: #fff !important}
.cart-course-wrapper {border: 1px solid #ccc;margin-bottom: 10px;/*border-radius: 15px;box-shadow: 0 0 16px #ccc;*/padding: 15px 15px!important;}
.cart-course-list{-webkit-box-shadow: none!important;box-shadow:none!important;}
.cart-course-wrapper .move-remove div {color:#6f2d87 !important;}
.deletecartitemicon{margin-right:5px;}
section.page-header-area.my-course-area ul {margin-bottom:10px;}
section.page-header-area.my-course-area ul li.active a, section.page-header-area.my-course-area ul li a:hover {border-bottom-color:#f7a823 !important;}
.btn.coursedetails{background: #f7a823 !important;}
.btn.coursedetails.danger{background: #f72423 !important;}
.btn.coursedetails.success {background: #137208 !important;}
.btn.coursedetails:focus, .btn.coursedetails:hover{background: #ddd!important;}
.course-list-dropdown .item-list {margin-top:10px;}
.course-box .course-details .title {margin-bottom:5px!important;}
.course-popover-content .popover-btns .wishlist-btn i {-webkit-text-stroke: 2px #6f2d87!important;}
.course-popover-content .popover-btns .wishlist-btn.active i, .course-popover-content .popover-btns .wishlist-btn:hover i{color: #6f2d87!important;}
.intructor-badge a{color:#6f2d87!important;font-size: 10px;}
.course-badge.position.best-seller.price.instrctr p {margin: 3px 0 3px 0px;}
.course-box .course-details .your-rating-box.mycourse {position: inherit!important;right: 10px!important;bottom: 3px!important;margin-bottom: 0!important;z-index: 1!important;text-align: right!important;}
.modal-header{background-color: #6f2d87!important;color: #fff!important;}
.modal-header .close {color: #fff!important;}
.ratenow{background-color: #f7a823;padding:10px;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;}
.ratenow:hover .your-rating-text {color: #ec5252;}
.ratenow .your-rating-text .edit {display: none;}
.ratenow:hover .your-rating-text .edit {display: unset;}
.ratenow:hover .your-rating-text .your {display: none;}
.ratenow i {color: transparent;text-stroke: 1px #eaeaea;-webkit-text-stroke: 1px #eaeaea;font-size: 16px;letter-spacing: -0.1em;}
.ratenow i.filled {color: #f4c150;}
.your-rating-text {font-size: 14px;color:#6f2d87;float: right;}
/*.course-details.buttn{margin-bottom: 10px;}*/
.modalimage {border-radius: 4px}
.ratenow.mycourses .filled{color: #6f2d87;}

.ratenow.mycourses i {text-stroke: 1px #6f2d87;-webkit-text-stroke: 1px #6f2d87;color: #dedfe0;}
/*.rating i {text-stroke: 1px #6f2d87;-webkit-text-stroke: 1px #6f2d87;}*/
.rating i.filled {color: #6f2d87;}
.purchased a {background-color: #6f2d87;}
.purchased a:focus, .purchased a:hover{background-color: #333;}
.course-box .wishlist-add.wishlisted button i {color: #6f2d87!important;}
.course-box .wishlist-add button i, .course-box .favorite-add button i {text-stroke: 2px #fff;-webkit-text-stroke: 2px #fff;font-size: 18px;color: #686f7a;}
.ratenow.mycourses p{margin:0;}
.fullprice{color: #6f2d87;font-size: 18px;}
.ratenow.mycourses .discount.cross {font-size:12px;}
section.my-courses-area .my-course-search-bar .input-group {width: 100%!important;}
.filter-by{margin-right:10px;}
.webui-popover{padding: 5px;}
.course-list-dropdown .item-list .item .item-details button{background-color: #f7a823!important;}
.course-box .course-details {padding: 10px 15px 10px 15px!important;}
.my-courses-area .row.no-gutters {margin-top: 25px!important;}
section.user-dashboard-area {padding: 0!important;}
.user-dashboard-content .content-box .form-group {padding: 10px 20px!important;}
.user-dashboard-content .content-title-box{text-align:left!important;}
.item-image.wishlist, .course-list-dropdown .item-list .item .item-image {border: 1px solid #ddd;}
section.my-courses-area {padding: 10px 0!important;}
.course-list-dropdown .item-list .item .item-details button:hover, .course-list-dropdown .item-list .item .item-details button:focus { background: #6f2d87!important;color:#fff!important;}

@-webkit-keyframes pulse {
    0% {-webkit-transform: scale(1.1);transform: scale(1.1);}
    50% {-webkit-transform: scale(0.8);transform: scale(0.8);}
    100% {-webkit-transform: scale(1.1);transform: scale(1.1);}
}

@keyframes pulse {
    0% {-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}
    50% {-webkit-transform: scale(0.8);-ms-transform: scale(0.8);transform: scale(0.8);}
    100% {-webkit-transform: scale(1.1);-ms-transform: scale(1.1);transform: scale(1.1);}
}

.faa-pulse.animated, .faa-pulse.animated-hover:hover, .faa-parent.animated-hover:hover > .faa-pulse { -webkit-animation: pulse 2s linear infinite;animation: pulse 2s linear infinite;}
.course-popover-content .what-will-learn ul li {color: #6f2d87;background: url(../bulleticon.png) no-repeat 0 2px;padding-left: 25px;}
.course-popover-content .what-will-learn ul {list-style: none;}
.course-popover-content .what-will-learn ul li::before {content: "";}

.orange .fas,.orange .fab {font-size: 35px;color: #6f2d87;}
.navbar-brand img{margin-top:-2px;}
.imgcircle{border-radius: 50%;height: 100px;width: 100px;border: 5px solid #cfd8dc;-webkit-border-radius: 50%;-moz-border-radius: 50%;}
.imgcirclesmall{border-radius: 50%;height: 20px;width: 20px;border: 1px solid #cfd8dc;-webkit-border-radius: 50%;-moz-border-radius: 50%;margin-right: 5px;}
.capital{text-transform: uppercase;}
.course-sidebar.fixed {position: sticky;}
.lsnhrs{/*color: #fff !important;*/font-size: 12px;}
.lsnhrswish{color: #333 !important;font-size: 12px;font-weight: bold;}
.category-filter-box{padding: 15px 0 10px 0!important;}
.custom-radio:checked + label::after, .custom-radio:not(:checked) + label::after {background:#6f2d87!important;}
.custom-radio:checked + label::before, .custom-radio:not(:checked) + label::before {border:1px solid #f7a823;background: #f7a823!important;}
.filter_type ul .parent-category {background: #6f2d87;padding: 2px 10px;margin-bottom: 10px !important;color: #fff;}
btn-group-sm > .btn, .btn-sm {padding: .25rem .5rem !important;}
ul.pagination .page-item.active a, ul.pagination .page-item.active .page-link{background-color: #6f2d87;border-color: #6f2d87;}
ul.pagination .page-item a, ul.pagination .page-item .page-link{border: 1px solid #6f2d87;color: #6f2d87}
ul.pagination .page-item a:hover, ul.pagination .page-item .page-link:hover {background-color: #f7a823;border-color: #6f2d87;}
a[rel='next']{border-top-right-radius: .25rem;border-bottom-right-radius: .25rem;}
a[rel='prev']{border-top-left-radius: .25rem;border-bottom-left-radius: .25rem;}
.course-comparism-item .item-title.first {width: 60%;}
.course-comparism-item .item-details.second {width: 39%;}
.course-comparism-item-container a:hover {background-color: transparent;color:#6f2d87;}
.menu-icon-box .icon .avatar a:hover {border-radius:50%;}
.sign-in-modal form button[type="submit"]:hover, .sign-in-modal form button[type="submit"]:focus {background-color: #f7a823 !important;border-color: #6f2d87 !important;}
#accordionExample .card-body{background: #8d8d8d;}
.lesson_duration{background: #f7a823;color:#333}
#lesson-summary .card-body{background: #f7a823;}
.course-list-dropdown .item-list .item .item-details button {float:right;}
.course-list-dropdown .item-list ul li {padding: 10px 15px 10px;}
.course-list-dropdown .dropdown-footer {background: #f7a823;}
@media (min-width:768px){.main-nav-wrap > ul > li > ul > li a .icon i, .main-nav-wrap > ul > li > ul > li a:hover {color: #6f2d87!important;}}
.button-menu-mobile span:nth-of-type(2) {width: 100%;}
.bg-yellow {background-color: #f7a823 !important;}
.bg-purple {background-color: #6f2d87 !important;}
.bg-facebook{background-color:#4267b2!important;border-color: #4267b2 !important;}
.bg-twitter{background-color:#38A1F3!important;border-color: #38A1F3 !important;}
.bg-linkedin{background-color:#0077B5!important;border-color: #0077B5 !important;}
.dropdown-menu.profile{padding:10px 5px;background-color:#f7a823;}
.profile .dropdown-item:focus, .profile .dropdown-item:hover, .profile .dropdown-item:active, .profile .dropdown-item.active{background-color:#6f2d87!important;border-bottom-color: #f7a823 !important;}
.page-header-area {}
.user-dropdown-menu li a i {color: #6f2d87;}
.cart-sidebar .checkout-btn.active{background-color: #f7a823 !important;color#333}
@media (max-width:767px){
    .navbar-brand img {margin-top:0px;}
    /*.home-banner-wrap .input-group {border:2px solid #f7a823;border-radius:3px;}*/
    .navbar-brand img {height: 40px !important;}
    .mobile-main-nav a:not(.btn){color: #6f2d87;}
    .dropdown-user-logout {color:#6f2d87!important;background: #f7a823!important;}
}

.my-courses-area .row.no-gutters.purchasehist, .course-sidebar-text-box.side.purhist{margin-top: 5px !important;}
.card-title.listtit {font-weight: 700; font-size:17px!important;color:#6f2d87;}
.listtit a{color:#6f2d87;}
.breadcrumb.lstbrd{padding:5px 10px; background-color:#6f2d87; color:#fff}
.card-text.listdesc{color: #505763;font-size: 13px;}
.listimg{border: 1px solid #ddd;border-radius: 3px;}
.lng .course-price .current-price {font-size: 18px!important;font-weight: 700!important;color: #29303b!important;}
.prc{font-size:95%!important;font-weight: 600;}
.prc2{font-size:125%!important;font-weight: 600;}
.course-sidebar.natural .current-price, .course-sidebar.fixed .current-price{color:#6f2d87;font-size: 48px !important;}
.rmv{color: #fff!important;background: #d82323 !important;border: 1px solid #d82323 !important;}
.price .current-price {font-size:28px!important;}
.cart-course-wrapper .details .name {color:#6f2d87 !important;}
.card{border-radius:0px;}

@media (min-width:768px){
    .user-dropdown-menu .dropdown-user-logout{color: #fff!important;background:#6f2d87!important;padding:0px!important;}
    .dropdown-user-logout.user-dropdown-menu-item a{color: #fff!important;}
}

.card.card-img-holder .card-img-absolute {position: absolute;top: 0;right: 0;height: 100%;}
.modal {
    overflow-y:auto!important;
}
.cart-course-wrapper .price .coupon-tag {top: 10px;}

[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner {

    padding: 0;
    border-style: none;

}
/*
::selection {

    background: #b3d4fc;
    text-shadow: none;

}
*/

.edit-rating-modal .modal-footer button:hover, .edit-rating-modal .modal-footer button:focus {background-color: #f7a823 !important;border-color: #f7a823 !important;}
/*.instructor-box.menu-icon-box{min-width:150px;}*/
.copyright-text img {margin-right: 3px!important;}
.lsn a:hover {color: #6f2d87!important;}
.page_not_found_message {text-shadow: -1px -1px 0px rgba(255,255,255,0.3), 1px 1px 0px rgba(0,0,0,0.8);font: 700 40px 'arial';opacity: 0.4;}

@media (min-width:768px){

}


.course-popover-content .what-will-learn ul li {max-height: 57px;}
.course-popover-content .course-meta span {margin-right: 8px;}
.course-popover-content .course-meta span i {margin-right: 1px;}
.form-control::placeholder {color: #757d83 !important;}
.course-box .course-image::before {/*background-color: #f7a823a3;*/}

.custom-radio2:not(:checked) + label::before {display:none}

.ratingbox2 {background-color: #999 !important;border: 1px solid #999;box-shadow: 0 0 16px #ccc;padding: 10px;border-radius: 4px;}
.about-instructor-box .about-instructor-image2 img {width: 125px;height: 125px; border:3px solid #6f2d87;border-radius: 3px;}
.student-feedback-box .reviews ul li {padding: 30px 10px;border-bottom: 1px solid #ddd;border-top:none;}
.student-feedback-box .reviews {border: 1px solid #ddd;padding: 10px;border-radius: 3px;}
.edit-rating-modal .modal-body {padding-top: 25px;padding-bottom: 25px;}

.lsnhrswish.big{font-size: 14px;}
.course-box-wrap a:hover{color: #f7a823;}

.img-fluid.profile{border: 5px solid #6f2d87;border-radius: 3px;}
.cart-sidebar .total-price {font-size: 60px;margin-bottom:15px;}
.total-price.text-center .cross{font-size: 24px;}
.badge-pill.bg-purple.discount-rate{font-size: 14px;}
.cartcount{font-size: 16px;margin-left: 45px;}
.toast {opacity: 1 !important;}
#my_courses_area {min-height:250px;}
/*
.menu-area.sticky{
        position: fixed;
        top: 0;
        width: 100%;
        background:#f8f9fa;
}
.menu-area.sticky + .course-header-area, .menu-area.sticky + .page-header-area, .menu-area.sticky + .instructor-header-area, .menu-area.sticky + .category-header-area {
  padding-top: 105px!important;
}
*/

@media (max-width:767px){
    .navbar-brand {margin-left: 0!important;}
}



.img-circle2 {width:175px; height:175px; border: 7px solid #cfd8dc; border-radius: 50%!important; -webkit-border-radius:50%!important; -moz-border-radius: 50%!important;}

/* 404 Page start */
.cls-1 {fill:#6f2d87;}.cls-2 {fill: #ee7325;}.cls-3 {fill: #fff;}.cls-4 {fill: #f78d5e;}.cls-5 {fill: #540d6e;}.cls-6, .cls-7, .cls-8 {fill: #ee7325;}.cls-10, .cls-6 {opacity: 0.6;}.cls-7 {opacity: 0.4;}.cls-9 {fill: #38094a;}.cls-11 {fill: #f9c358;}.cls-12 {fill: #9b462c;}.cls-13 {fill: #aa512e;}.cls-14 {fill: #7d6aa5;}.wheel {animation: wheel-rotate 6s ease infinite;transform-origin: center;transform-box: fill-box;}@keyframes wheel-rotate {50% {transform: rotate(360deg);animation-timing-function: cubic-bezier(0.55, 0.085, 0.68, 0.53);}100% {transform: rotate(960deg) }}.clock-hand-1 {animation: clock-rotate 3s linear infinite;transform-origin: bottom;transform-box: fill-box;}.clock-hand-2 {animation: clock-rotate 6s linear infinite;transform-origin: bottom;transform-box: fill-box;}@keyframes clock-rotate {100% {transform: rotate(360deg) }}#box-top {animation: box-top-anim 2s linear infinite;transform-origin: right top;transform-box: fill-box;}@keyframes box-top-anim {50% {transform: rotate(-5deg) }}#umbrella {animation: umbrella-anim 6s linear infinite;transform-origin: center;transform-box: fill-box;}@keyframes umbrella-anim {25% {transform: translateY(10px) rotate(5deg);}75% {transform: rotate(-5deg);}}#cup {animation: cup-rotate 3s cubic-bezier(0.455, 0.03, 0.515, 0.955) infinite;transform-origin: top left;transform-box: fill-box;}@keyframes cup-rotate {50% {transform: rotate(-5deg) }}#pillow {animation: pillow-anim 3s linear infinite;transform-origin: center;transform-box: fill-box;}@keyframes pillow-anim {25% {transform: rotate(10deg) translateY(5px) }75% {transform: rotate(-10deg) }}#stripe {animation: stripe-anim 3s linear infinite;transform-origin: center;transform-box: fill-box;}@keyframes stripe-anim {25% {transform: translate(10px, 0) rotate(-10deg) }75% {transform: translateX(10px) }}#bike {animation: bike-anim 6s ease infinite;}@keyframes bike-anim {0% {transform: translateX(-1300px) }50% {transform: translateX(0);animation-timing-function: cubic-bezier(0.47, 0, 0.745, 0.715);}100% {transform: translateX(1300px) }}#rucksack {animation: ruck-anim 3s linear infinite;transform-origin: top;transform-box: fill-box;}@keyframes ruck-anim {50% {transform: rotate(5deg) }}.circle {animation: circle-anim ease infinite;transform-origin: center;transform-box: fill-box;perspective: 0px;}.circle.c1 {animation-duration: 2s }.circle.c2 {animation-duration: 3s }.circle.c3 {animation-duration: 1s }.circle.c4 {animation-duration: 1s }.circle.c5 {animation-duration: 2s }.circle.c6 {animation-duration: 3s }@keyframes circle-anim {50% {transform: scale(.2) rotateX(360deg) rotateY(360deg) }}.four, #ou {animation: four-anim cubic-bezier(0.39, 0.575, 0.565, 3) infinite;}.four.a {transform-origin: bottom left;animation-duration: 3s;transform-box: fill-box;}.four.b {transform-origin: bottom right;animation-duration: 3s;transform-box: fill-box;}#ou {animation-duration: 6s;transform-origin: center;transform-box: fill-box;}@keyframes four-anim {50% {transform: scale(.98) }}
/* 404 Page end */


/* ALL NEW AFTER LATEST DESIGN CHANGE */
.explore {padding: 10px 22px 10px 13px!important;
          font-size: 15px;
          line-height: 1.35135;
          font-weight: 600;
          margin-left: 5px !important;
          border-radius: 20px !important;}

.bannersearch input {border-radius: 25px !important;background-color:#fff!important;}
.input-group.search-box > .input-group-append > .btn {}
.search-box button:hover, .search-box button:focus {background-color: #f7a823 !important;border-color: #f7a823!important;}
.search-box button {background: #6f2d87!important;color:#f2f3f5!important;border:1px solid #6f2d87!important;border-radius:50%!important;font-size:14px!important;padding:6px 14px!important;width: 33px;height: 33px;}

.home-banner-wrap .btn {color: #fff!important;background: #f7a823!important;color:#f2f3f5!important;border-radius:50%!important;font-size:14px!important;padding:6px 12px!important;width: 42px;height: 40px;}
.home-banner-wrap .btn:hover{background: #6f2d87!important;}
.search-box button:hover, .home-banner-wrap .btn:hover {color: #fff!important;}

.main-nav-wrap > ul > li > ul {padding: 15px 0 0px 0;border-radius: 10px;}
.mobile-main-nav .all-category-devided {padding:10px;background-color: #f7a823;border-radius: 0px 0px 10px 10px;}
.main-nav-wrap > ul > li > ul > li a:hover {background-color: #f7a823;}

.corner-triangle.top-center:after{top: -12px;right: 47%;}
.corner-triangle.top-center:before{top: -14px;right: 47%;}

.btn.btn-sign-in.plain {background: none !important;border: none;color: #6f2d87 !important;}
.sign-in-box .btn-sign-up {background-color: #6f2d87!important;border: 1px solid #6f2d87!important;/*border-radius: 20px !important;*/}
.sign-in-box .btn-sign-up:hover{background: #f7a823 !important;color:#29303b;border: 1px solid #f7a823!important;}
.sign-in-box > .btn {padding: 8px 12px 7px 12px;height: 40px;}
.menu-icon-box .icon a:hover{background: rgb(247,168,35)!important;border-color: rgba(247,168,35)!important;border-radius:50%!important;}
.menu-icon-box .icon a {background:#6f2d87;height: 43px;width: 43px;line-height: 43px;}
.menu-icon-box .icon .far, .menu-icon-box .icon .fas {color: #fff!important;}
.course-badge.position {border-top-right-radius: 0;border-bottom-right-radius: 15px;top: 0px;/*border-top-left-radius: 15px;*/padding:7px 15px 9px 15px;}
.course-box::before, .course-box::after{border-radius: 15px;box-shadow:none!important;-webkit-box-shadow:none!important;-ms-webkit-box-shadow:none!important;}

.menu-icon-box .icon .number {background-color:#f7a823!important;right:5px;}
.menu-icon-box .icon .number a:hover {background-color:#6f2d87!important;right:5px;}
.navbar-brand img{height:45px;}
.home-banner-area {border-bottom: 10px solid #f7a823;}
.home-fact-area{background-color:#f7f8fa!important;background: #f7f8fa!important;margin-bottom: 25px;}
.home-fact-box{background: #fff;padding:25px 15px;/*border-radius: 10px;*/color: #444;/*-webkit-box-shadow: 2px 2px 19px -3px rgba(0,0,0,0.6);-moz-box-shadow: 2px 2px 19px -3px rgba(0,0,0,0.6);box-shadow: 2px 2px 19px -3px rgba(0,0,0,0.6);*/ box-shadow: none;}
.home-fact-box .fas, .home-fact-box .far{color:#6f2d87 !important;}
.home-fact-box .text-box {padding:7px 0 12px 65px;}
.course-details.rating.ratingsdesc {background-color:#f7a823;padding: 10px!important;border-bottom-left-radius: 15px;border-bottom-right-radius: 15px;}
.course-box-wrap .course-image img {/*border-top-left-radius: 15px;border-top-right-radius: 15px;*/width: 100%;border-top-left-radius: 0px;border-top-right-radius: 0px;}
.course-box{-webkit-box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);-moz-box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);/*border-radius: 15px;*/}
.course-box .course-image::before {border-top-left-radius: 15px !important;/*border-top-right-radius:15px;*/}
.addedToCart:hover, .btn:hover, .btn:focus {background:#f7a823!important;color: #29303b!important;border-color:#f7a823!important;}
.addedToCart, .btn {background:#6f2d87!important;color:#fff!important;border-color:#6f2d87!important;}
.input-group-append.menusearch1{right:6px!important}
.course-carousel-area .course-carousel-title {font-size: 24px;}

.course-badge{z-index: 5!important;}
.price.full {text-decoration: line-through;font-size:14px;}
.price.net {font-size:20px;margin-left:5px;color:#fff;font-weight:600;}
.course-badge.best-seller.price {background: #f7a823;}
.course-badge.best-seller.price::after {display:none;}

.course-badge.position.best-seller.price p {margin: 0 0 1.5px;}
.discount{color: #fff;pointer-events: none;text-transform: uppercase;margin-right: 5px;font-size: 16px;text-decoration:line-through; margin-right:5px;}
/*.cross {position: relative;display: inline-block;}
.cross::before, .cross::after {content: '';width: 100%;position: absolute;right: 0;top: 50%;}
.cross::before {border-bottom: 2px solid red;-webkit-transform: skewY(-25deg);transform: skewY(-25deg);}
.cross::after {border-bottom: 2px solid red;-webkit-transform: skewY(25deg);transform: skewY(25deg);}*/

.course-box{background: #e7e7e9!important;}
.course-box-wrap .course-box .course-details .title{color:#444!important;}
.course-box .course-details .instructors{color: #6f2d87!important;font-size: 14px;}
.course-carousel .slick-prev, .course-carousel .slick-next {background-color: #fff!important;}
.course-carousel .slick-prev {left: -10px!important;}
.course-carousel-area .slick-list::before, .course-carousel-area .slick-list::after {background:transparent;}
.course-popover-content .popover-btns .add-to-cart-btn {width: 80%;padding: 15px 12px;/*border-radius: 26px;*/}

.rounded-pill {border-radius: 50rem !important;}
.course-popover-content .popover-btns .add-to-cart-btn:hover {color:#fff!important;background:#333!important;}

.user-box.menu-icon-box .icon a:hover{background:transparent !important;}
.user-box.menu-icon-box .icon a {background:transparent !important; border:1px solid #6f2d87;}
.user-box.menu-icon-box .icon a img {height:41px; width:43px;}
.slick-slide img {width:100%}
.trtopics{box-shadow: 0 4px 2px -1px rgba(48,56,64,.2),0 1px 1px 0 rgba(48,56,64,.14),0 1px 3px 0 rgba(48,56,64,.12);margin: 10px 0px;height: 100%;}



.pos-bottom {bottom: 0;}
.pos-right {right: 0;}
.opacity-35 {opacity: .35;}
.backgrndimg{background-image: url(../images/bg-pattern.png); background-size: cover;}
.backgrndimg2{background-image: url(../images/cw-trendback.jpg); background-size: cover;}
.footer-top-widget-area.trending-topics{padding: 30px 0 30px 0px;}
.display-6 {font-size: 1.2rem;}
.my-cust{margin-bottom: 0.9rem !important;margin-top: 0.85rem !important;}
.greybck{background:#f7f8fa!important; background-color: #f7f8fa !important;}
.whitebck{background:#fff!important; background-color: #fff!important;}
.course-carousel-area .course-carousel-title {color: #343a40;}
.rounded10 {/*border-radius:10px !important;*/margin-top: 10px;}
.rounded25 {/*border-radius:25px !important;*/}
.btn.btn-sign-in.bg-yellow {background:#f7a823 !important;border-color: #f7a823 !important;font-weight:600}
.btn.btn-sign-in.bg-yellow:hover {background:#6f2d87!important;border-color: #6f2d87!important;color:#fff!important}
.mb-4.instructor{font-size: 24px!important;}
.slick-slide.trending img {width: 100px!important;}
.trendingauthorcard{background: rgb(255,255,255);
                    background: linear-gradient(180deg, rgba(255,255,255,1) 36%, rgba(228,228,228,1) 100%);}
.feat-tutors img {width:150px; height:150px;}
.footericon {width: 50px !important;height: 50px !important;color: #fff !important;}
.footericon i{color: #fff !important;font-size: 24px;}
.footericon i:hover{color:#f7a823!important;}
.bg-darkgrey{background-color:#cfcfcf!important;}
.course-sidebar-text-box.bg-orange, .course-sidebar-text-box .list-group-item.bg-orange{background-color:#cfcfcf!important;}
.card-header.filter-card-header{background:#cfcfcf;}
.my-courses-area .my-course-search-bar input {border-radius: 20px!important;}
.my-courses-area .my-course-search-bar .input-group-append button{border-radius: 50%!important;height: 40px;width: 40px;padding: 0px 0px;}
.my-course-area li {padding-top:10px;}
.filter-box .btn {border-radius: 20px!important;}
.progress{background-color: #6f2d87;}
.user-dashboard-content .bg-yellow {border-top-left-radius:15px;border-top-right-radius:15px;  }
.user-dashboard-box {border-radius:15px;}
.cross {text-decoration: line-through;}
.addedToCart .fas {margin-right:5px;}
.menu-icon-box .icon.admin a:hover {border-radius:20px!important;}
.footer-area html [type=button] {-webkit-appearance: inherit!important;}
.course-curriculum-accordion .lecture-group-title .total-time {width: 140px!important;}


@media (min-width:768px){
    .main-nav-wrap > ul > li > ul {left: -50px!important;}
    .main-nav-wrap > ul > li > a i {margin-right: 5px!important;font-size: 14px!important;color: #fff !important;}
    .main-nav-wrap > ul > li > a{font-size: 15px!important; padding:8px 20px 7px 12px !important;height: 40px;}
    .main-nav-wrap > ul > li > ul > li a {padding:7px 15px;}
    .main-nav-wrap {margin: 0 25px 0 20px!important;}
    .main-nav-wrap > ul > li > a .d-inline {right:0!important;left:unset!important;}
    .main-nav-wrap > ul > li > ul > li ul {border-radius:10px;}
    .main-nav-wrap > ul > li > a:hover, .menu-icon-box .icons a:hover {background:#f7a823!important;}
}
@media (max-width:380px){
    /*.input-group-append.menusearch1{right:27px!important}*/
    .bannersearch .form-control::placeholder {font-size: 16px;}
    .course-curriculum-box .course-curriculum-title .title {font-size: 18px;}
}


.footer-area {border-bottom: 0px solid #6f2d87!important;}
.footer-area.greybck {padding: 9px 0!important;}
.footer-area.footers {padding: 20px 0!important;background: #fff !important;}
.testititle{font-weight: 600;font-size: 22px;}
.navi a {text-decoration:none;}
a > .ico {background-color: grey;padding: 10px;}
a:hover > .ico {background-color: #666;}

.search-box.mobile-search input {border-radius: 20px !important;background-color:#e7e7e9!important;border: 2px solid #cbcbcb !important;height: 43px!important;font-size:16px;}

/* BLOG STYLE */
.blog_section .cw_blog_image {position: relative;}
.blog_section .cw_blog_image img {width: 100%;border-radius: 10px 10px 0px 0px;max-height: 300px;}
.blog_section .cw_blog_image .cw_blog_date {position: absolute;bottom: -20px;left: 35px;display: flex;align-items: center;justify-content: center;text-transform: capitalize;width: 150px;height: 45px;font-size: 18px;font-weight:600;color:#ee7325;background-color: #f7f8fa;border-radius: 30px;}
.blog_section .cw_blog_image .cw_blog_date_right {position: absolute;bottom: -20px;right: 35px;display: flex;align-items: center;justify-content: center;text-transform: capitalize;width: 150px;height: 45px;font-size: 18px;font-weight:600;color:#ee7325;background-color: #f7f8fa;border-radius: 30px;}
.blog_section .cw_blog_content {padding: 25px 0px;border-radius: 0px 0px 10px 10px;}
.blog_section .blog_user .user_name > a::before {content: "";display: block;width: 5px;height: 1px;background-color: #757575;position: absolute;top: 50%;left: -10px;transform: translateY(-50%);}
.blog_section .blog_user { display: flex;align-items: center;margin-bottom: 10px;margin-top: 9px;}
.blog_section .blog_user .user_name {display: flex;align-items: center;margin-right: 20px;}
.blog_section .blog_user .user_name > a {font-size: 15px;text-transform: capitalize;margin-left: 20px;display: inline-block;position: relative;}
.blog_section .blog_user .comment_block span {color: #ee7325;font-size: 22px;}
.blog_section .cw_blog_content > p {margin: 0 0 10px 0;}
.blog_section .cw_blog_content > a:hover {color: #1fa12e;letter-spacing: 1px;}
.blog_section .cw_blog_content > a {text-transform: capitalize;color: #f44027;transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;}
.blog_sidebar .sidebar_block {margin-bottom: 35px;}
.sidebar_heading {/*margin-bottom: 10px;*/padding:0.8rem 1.0rem 0.2rem 1.0rem;}
.sidebar_heading h3 {font-size: 20px;font-weight: 600;color: #222222;text-transform: capitalize;}
.blogs{padding-top: 25px;}
.sidebar_category ul, .sidebar_post ul, .sidebar_tags ul{margin: 0;padding: 0.8rem 1.0rem;list-style: none;}
.sidebar_category > ul > li::before {content: "";border-top: 4px solid transparent;border-bottom: 4px solid transparent;border-left: 4px solid #fec007;position: absolute;top: 50%;left: 0;display: inline-block;transform: translateY(-50%);}
.sidebar_category > ul > li {position: relative;margin-bottom: 19px;padding-left: 15px;}
.sidebar_post ul li {display: flex;align-content: center;margin-bottom: 10px;}
.sidebar_post ul li .post_image {margin-right: 10px;}
.sidebar_post ul li .post_image img {border-radius: 5px;}
.sidebar_post ul li .post_content p {margin: 0;font-size: 12px;text-transform: capitalize;color:#ee7325;}
.sidebar_post ul li .post_content a {font-weight: 600;}
.sidebar_tags ul li {display: inline-block;margin-right: 5px;}
.sidebar_tags ul li a {border: 1px solid #6f2d87;border-radius: 30px;padding: 5px 13px;color: #fff!important;text-transform: capitalize;background-color:#6f2d87;transition: all 0.3s ease-in-out;-webkit-transition: all 0.3s ease-in-out;-moz-transition: all 0.3s ease-in-out;}
.sidebar_tags ul li a:hover {background-color: #ee7325;border-color: #ee7325;color: #ffffff;}
.sidebar_tags {margin-top:20px;}
.author-card .author-card-cover::after {}
.author-card {position: relative;margin-bottom: .0625rem;padding-bottom: 3rem;background-color: #fff;-webkit-box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64,64,64,0.09);box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64,64,64,0.09);}
.author-card .author-card-cover {position: relative;width: 100%;height: 100px;background-position: center;background-repeat: no-repeat;background-size: cover;border-radius: 10px 10px 0px 0px;}
.author-card .author-card-cover::after {display: block;position: absolute;top: 0;left: 0;width: 100%;height: 100%;content: '';opacity: 0;border-radius: 10px 10px 0px 0px;}
.author-card .author-card-profile {display: table;position: relative;margin-top: -1.375rem;padding-right: .9375rem;padding-bottom: 1rem;padding-left: 1.0rem;z-index: 5;}
.author-card .author-card-profile .author-card-avatar {width: 85px;border-radius: 50%;-webkit-box-shadow: 0 0.5rem 1.25rem 0 rgba(0,0,0,0.15);box-shadow: 0 0.5rem 1.25rem 0 rgba(0,0,0,0.15);overflow: hidden;}
.author-card .author-card-profile .author-card-avatar, .author-card .author-card-profile .author-card-details {display: table-cell;vertical-align: middle;}
.author-card .author-card-profile .author-card-avatar > img {display: block;width: 100%;}
.author-card .author-card-profile .author-card-details {padding-top: 1.25rem;padding-left: .9375rem;}
.author-card .author-card-profile .author-card-avatar, .author-card .author-card-profile .author-card-details {display: table-cell;vertical-align: middle;}
.author-card .author-card-profile .author-card-name {margin-bottom: .125rem;font-size: .875rem;font-weight: bold;}
.author-card .author-card-profile .author-card-position {display: block;color: #8c8c8c;font-size: .75rem;font-weight: 600;}
.author-card .author-card-info {margin-bottom: 0;padding: 0 1.0rem;font-size: .8125rem;}
.author-card .author-card-social-bar-wrap {position: absolute;bottom: 0.5rem;left: 0;width: 100%;}
.author-card .author-card-social-bar-wrap .author-card-social-bar {display: table;margin: auto;background-color: #fff;/*-webkit-box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64,64,64,0.11);box-shadow: 0 0.75rem 1.25rem 0.0625rem rgba(64,64,64,0.11);*/}
.author-card.blogside .sidebar_heading h3{border-bottom: 2px solid #6f2d87;padding-bottom: 10px;}
.blog-item-avtar{width:40px; height:40px;border: 2px solid #cfd8dc;border: 2px solid #cfd8dc;border-radius: 50% !important;-webkit-border-radius: 50% !important;-moz-border-radius: 50% !important;}
.social-btn {display: inline-block;width: 3rem;height: 2.25rem;margin: 0;-webkit-transition: all 0.3s;transition: all 0.3s;font-size: 1.3rem;line-height: 2.25rem;vertical-align: middle;text-align: center !important;text-decoration: none;}
.sb-facebook {color: #1877f2 !important;}
.sb-pinterest {color: #cc2127 !important;}
.sb-twitter {color: #1da1f2 !important;}
.sb-linkedin {color: #007bb5 !important;}
.sb-youtube {color: #ff0000 !important;}
.sb-instagram {color: #c32aa3 !important;}
.sb-facebook:hover {background: #1877f2 !important;color:#fff !important;border-radius:3px;}
.sb-twitter:hover {background: #1da1f2 !important;color:#fff !important;border-radius:3px;}
.sb-linkedin:hover {background: #007bb5 !important;color:#fff !important;border-radius:3px;}
.sb-youtube:hover {background: #ff0000 !important;color:#fff !important;border-radius:3px;}
.sb-instagram:hover {background: #c32aa3 !important;color:#fff !important;border-radius:3px;}
.author-card.blogside{padding-bottom:0.2rem!important;border-radius:10px;}
hr.bloghr { border: 0;height: 2px;background-image: linear-gradient(to right, #f0f0f0, #ee7a35, #ee884c, #f0f0f0);margin: 0 0 25px 0;}

.red2 {background-color: #FF5852;}
.orange2 {background-color: #FF9000;}
.yellow2 {background-color: #FFD300;}
.green2 {background-color: #3DCD49;}
.blue2 {background-color: #0089D7;}
.purple2 {background-color: #9E44C4;}
.box2 {display: flex;width: 100%;height: 8px;margin: 5px 0px 20px 0px;}
.box-sm2 {height: 8px;margin: 0;flex-grow: 1;transition: all .8s ease-in-out;cursor: auto;}
.box-sm2:hover {flex-grow: 12;}
.category-header-area.bloghead{
    background: url('../../../../uploads/system/blog-pic.jpg') no-repeat/* center center fixed*/;-webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;background-size: cover;height:350px;}
section.category-header-area.bloghead .category-name {color: #6f2d87!important;}
.what-you-get-box2 {background-color: #f9f9f9;border: 1px solid #dedfe0;/*box-shadow: 0 0 16px #ccc;*/padding: 15px 15px;}
.course-preview-modal .modal-title span {color: #fff;}
/*.btn.btn-default.paypal{color: #253b80 !important;background-color: #F9B421 !important;border-color: #F9B421 !important;}
.btn.btn-default.paypal:hover {color: #fff !important;background-color: #6f2d87 !important;}*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
input[type=number] {-moz-appearance:textfield;}

/*#paymentModal .modal-dialog .modal-content{background-color: #e0e0e0 !important;}*/
.payment-in-modal form .paypal{background-color: #888 !important; border: 1px solid #444;}